.error-page {
  width: 100%;
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.error-icon {
  font-size: 90px;
  color: #ff4d4d;
  margin-bottom: 20px;
}

.error-page h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.error-page p {
  color: #aaaaaa;
  font-size: 18px;
  margin-bottom: 25px;
}

.error-page button {
  background: #ff0000;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.error-page button:hover {
  background: #cc0000;
}