.liked-page{
display:flex;
background:#0f0f0f;
min-height:calc(100vh - 70px);
}

.liked-content{
flex:1;
padding:24px;

h2{
color:#fff;
margin-bottom:30px;
font-size:28px;
}
}

.empty{
margin-top:120px;
text-align:center;

h3{
color:#fff;
margin-bottom:10px;
}

p{
color:#aaa;
}
}

.liked-card{
display:flex;
align-items:center;
gap:18px;
padding:16px;
border-radius:14px;
margin-bottom:20px;
transition:.3s;

&:hover{
background:#222;
}

img{
width:250px;
border-radius:12px;
cursor:pointer;
}

.info{
flex:1;
cursor:pointer;

h3{
color:#fff;
font-size:18px;
margin-bottom:8px;
line-height:28px;
}

p{
color:#aaa;
margin-bottom:8px;
}

span{
color:#888;
font-size:14px;
}
}

button{
width:45px;
height:45px;
border:none;
border-radius:50%;
background:transparent;
color:#fff;
cursor:pointer;
transition:.3s;

svg{
font-size:25px;
}

&:hover{
background:#333;
}
}
}

@media(max-width:768px){

.liked-card{
flex-direction:column;
align-items:flex-start;

img{
width:100%;
}
}

}