.watch-later-page{
display:flex;
background:var(--bg);
min-height:100vh;
}

.watch-later-content{
flex:1;
padding:24px;

h2{
color:var(--text);
margin-bottom:25px;
}
}

.watch-item{
display:flex;
gap:18px;
padding:16px;
border-radius:12px;
transition:.3s;

&:hover{
background:var(--hover);
}

img{
width:250px;
border-radius:12px;
cursor:pointer;
}

.info{
flex:1;

h3{
color:var(--text);
margin-bottom:8px;
}

p,span{
color:var(--text-secondary);
}
}

button{
background:none;
border:none;
color:var(--text);
cursor:pointer;
}
}

.empty{
text-align:center;
margin-top:100px;

h3{
color:var(--text);
}

p{
color:var(--text-secondary);
}
}